.home_content {
    background-color: #fdfedb;

    //              splashscreen

    .splashscreen_index {
        position: relative;
        width: 100vw;
        max-width: 100%;
        z-index: 0;
        .sidebar_index {
            background-color: #222222;
            width: 400px;
            height: 100%;
            position: absolute;
            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: repeat(6, 1fr);
            h1 {
                color: #fdfedb;
                font-family: $font-titre-montserrat;
                font-weight: 900;
                font-size: 40px;
                grid-row: 3 / 4;
                grid-column: 2 / 8;
                left: 9vw;
            }
            p {
                color: #fdfedb;
                font-family: $font-titre-montserrat;
                grid-row: 5 / 6;
                grid-column: 2 / 6;
                font-size: 1rem;
                font-weight: 300;
            }
            a {
                color: #fdfedb;
                border: 1px solid #fdfedb;
                font-family: $font-titre-montserrat;
                grid-row: 8 / 9;
                grid-column: 2 / 4;
                text-align: center;
                line-height: 40px;
                height: 40px;
                font-size: 1rem;
                min-width: 150px;
                text-decoration: none;
            }
        }
        figure {
            img {
                width: 100vw;
                max-width: 100%;
                height: 100vh;
                margin: 0 auto;
                display: block;
                object-fit: cover;
            }
        }
    }

    //              BUREAU

    .bureau_section {
        margin-top: 50px;
        margin: 0 auto;
        width: 100vw;
        max-width: 100%;
        .bureau_content {
            align-self: center;
            display: flex;
            width: 600px;
            height: 600px;
            overflow: hidden;
            flex-direction: row;
            border: 1px solid #222222;
            
            .slides {
                display: flex;
                animation-duration: 10s;
                animation-name: le_slide;
                animation-iteration-count: infinite;
                figure {
                    img {
                        width: 600px;
                        height: 600px;
                        object-fit: cover;
                        display: block;
                    }
                }
            }
        }
    }
}
@keyframes le_slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-600px);
    }
    75% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(-1800px);
    }
}
