/* TARIFS & RESERVATION */
.tarif-wrapper {
  /* font size only for tarif page (Why not on base.scss?)*/
  font-size: 1.1rem;
  font-family: $font-p;
  /* gave margin on the top for now */
  margin: 5rem $margin-article;
  h2 {
    font-family: $font-titre-montserrat;
    margin-bottom: $margin-navbar-top-down;
  }
}
.tarif__card-container {
  background: $color-dark-drey;
  margin-bottom: $margin-article;
  padding: $margin-article/2;
  border-radius: 5px;
  border-style: none;
  .price__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin: $margin-p 0;
    background: #fff;
    border-radius: 5px;
    border-style: none;
    .price-btn {
      background: $color-dark-drey;
      color: #fff;
      padding: 0.5rem;
      border-radius: 5px;
      border-style: none;
    }
  }
}
#card-bright {
  background: #eaeaea;
}

.contact-container-wrapper {
  margin: $margin-article * 2 0;
  .contact {
    &-card {
      margin: $margin-p 0;
    }
  }
  .location-container {
    p {
      margin: $margin-p 0;
    }
    span {
      font-weight: bolder;
    }
    #location-email:hover {
      transition: all 0.1s ease-in;
      text-decoration: underline;
      opacity: 0.6;
    }
  }
  p {
    i {
      padding-right: $margin-p/2;
    }
  }
}
.form-container {
  p {
    margin: $margin-article 0;
    textarea {
      width: 100%;
    }
  }
  .form-text {
    color: $font-color-small-text;
    font-weight: 300;
  }
  .form__hotel {
    margin: 0;
    &-list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .form__hotel-radio {
        padding: 0.5rem;
      }
    }
  }
  .form-button {
    width: 100%;
    text-align: center;
    button {
      padding: $margin-navbar-top-down + 0.1 $margin-p + 0.1;
      color: #fff;
      background: $color-dark-drey;
      border-style: none;
      border-radius: 5px;
      &:hover {
        opacity: 0.6;
        transition: all 0.2s ease-in;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 848px) {
  .tarif__card-container-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(50%, auto);
    grid-gap: 1rem;
    align-items: center;
  }
  .contact {
    display: grid;
    grid-template-columns: 2fr minmax(auto, 50%);
    grid-gap: 1rem;
    .location-container {
      p {
        margin: $margin-p 0;
      }
    }
  }
  .form-a {
    p {
      display: inline-block;
      margin: $margin-p 0;
      input {
        margin: 0 $margin-navbar-top-down;
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  .tarif-wrapper {
    margin: 5rem;
  }
}
