.img__general-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  color:white;
}

.trajet__main-section {
  display: flex;
}

//----------

.trajet__presentation-txt {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20% 5rem 15%;
  max-width: 25rem;
  gap: 3rem;
  color:white;
  z-index: -1;

}

.trajet__content {
  background-color: rgb(85, 82, 82);

  padding: 5% 25%;

  .para_p {
    padding-bottom: 3rem;
  }
}

.trajet__figure-top {
  width: 100vw;
  height: 60rem;

}